/*Imported a google font*/
@import url('https://fonts.googleapis.com/css?family=Poppins');
/*Set font to entire site*/
body {
  font-family: 'Poppins', sans-serif;
}
/*Style for Input*/
#textIn1 {
  font-size: 18px;
  border: 2px solid #838383;
  border-radius: 4px;
  text-align: center;
}
/*Style for enter button*/
#runButton {
  font-size: 18px;
  background-color: #ababab;
  border: 3px solid #838383;
  border-radius: 4px;
  text-align: center;
  color: #ffffff;
}
/*Style for Strat button*/
#strat_btn {
  font-size: 20px;
  background-color: #ababab;
  border: 3px solid #838383;
  border-radius: 4px;
  text-align: center;
  color: #ffffff;
}
/*Style for Les Paul button*/
#paul_btn {
  font-size: 20px;
  background-color: #ababab;
  border: 3px solid #838383;
  border-radius: 4px;
  text-align: center;
  color: #ffffff;
}
/*Style for headingst*/
h1, h2 {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5 em;
    font-weight: 100;
    margin-bottom: 1em;
    text-align: center;
    color: white;
  }

  /* Centering content */

  div.question {
    text-align: center;
  }

  div.Strat {
      text-align: center;
  }
  div.Paul {
      text-align: center;
  }

  /*setting a margin */
  p {
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-right: 50px;
      margin-left: 50px;
      color: rgb(245, 245, 245);
  }
